$green: #3DBC99;
$white: rgba(236, 240, 241, 0.7);
$dark: #363636;
$grey: rgba(99, 110, 114,1.0);

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
p, a, li, button, q, h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
}
:focus {outline: none;}
.subscribe {
  background: rgba(99, 110, 114, .7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  section {
    background: $dark;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 50px;
    margin-left: calc(-492.91px / 2);
    margin-top: calc(-272px / 2);
    i {
      -webkit-transition: color .7s linear;
      -o-transition: color .7s linear;
      transition: color .7s linear;
      position: relative;
      top: -35px;
      left: 105%;
      color: $grey;
      cursor: pointer;
      &:hover {color: $white;}
    }
    h1 {
      color: $white;
      margin: 0;
    }
    form {
      width: 100%;
      div {
        width: 100%;
        position: relative;
        label {
          display: block;
          color: $grey;
          font-size: 20px;
          position: absolute;
          top: 10px;
          left: 0;
          z-index: 0;
        }
        input {
          display: block;
          background: transparent;
          border: none;
          width: 100%;
          height: 40px;
          padding: 10px 0;
          font-size: 20px;
          color: $white;
          border-bottom: 1px solid $white;
          margin-top: 30px;
          position: relative;
          z-index: 1;
        }
      }
      input[value="subscribe"] {
        font-size: 25px;
        padding: 10px 20px;
        color: $white;
        border: 2px solid $white;
        background: transparent;
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }
}
.top {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 10%;
  color: $white;
  z-index: 9;
  cursor: pointer;
  background: $grey;
  padding: 5px;
  border-radius: 3px;
  -webkit-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  &:hover {
    background: $green;
  }
}
header {
  background: #000 url('../images/head-bg.jpg');
  background-size: cover;
  padding: 15px 0;
  position: relative;
  .fixed-header {
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    z-index: 9;
    margin-left: -50%;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
  }
  .container {
    .logo {
      position: relative;
      z-index: 3;
      float: left;
      h1 {
        margin: 10px auto;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }
    }
    nav {
      float: right;
      position: relative;
      top: 5px;
      z-index: 2;
      ul {
        min-height: 60px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          float: left;
          a {
            padding: 15px 0;
            margin-right: 20px;
            text-decoration: none;
            display: block;
            color: $white;
            text-transform: uppercase;
            position: relative;
            &:hover::after, &.active::after {
              content: '';
              padding-top: 15px;
              display: block;
              width: 100%;
              position: absolute;
              bottom: 5px;
              left: 0;
              color: $green;
              border-bottom: 3px solid $green;
            }
            &:hover, &.active {
              color: $green;
            }
          }
        }
      }
    }
  }
  .darkness {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 0;
    .slider {
      text-align: center;
      .bxslider {
        h1 {
          opacity: .8;
          margin: 20px 0 0;
          color: $white;
          text-transform: uppercase;
          font: 70px 'Nunito', sans-serif;
          span {
            color: $green;
          }
        }
        p {
          opacity: .8;
          color: $white;
          font: 18px 'Nunito', sans-serif;
          width: 40%;
          margin: 20px auto;
          line-height: 1.5;
        }
      }
      .bx-pager-item {display: none;}
    }
    button {
      display: block;
      position: absolute;
      top: 70%;
      left: 50%;
      margin-left: calc(-114px / 2);
      padding: 10px 20px;
      cursor: pointer;
      border: 2px solid $white;
      font-size: 20px;
      background: transparent;
      color: $white;
    }
  }
}

.about {
  .container {
    padding: 41px 0;
    section {
      h2 {
        color: $dark;
        letter-spacing: 0.1em;
        &::after {
          content: '';
          display: block;
          width: 4.5%;
          height: 3px;
          background: $dark;
          margin-top: 5px;
        }
      }
      > section {
        overflow: hidden;
        div {
          float: left;
          width: calc(100% / 3);
          padding: 10px 10px 10px 7%;
          position: relative;
          h3 {
            color: $dark;
          }
          p {
            color: $grey;
            font-size: 18px;
          }
          i {
            position: absolute;
            color: $green;
            top: 20%;
            left: 0;
          }
        }
        &.our-team {
          div {
            width: calc(63% / 4);
            padding: 0;
            position: relative;
            &:not(:last-of-type) {
              margin-right: calc(3% / 3);
            }
            &:first-of-type {
              padding: 0 10px 10px 0;
              width: 33%;
              h2::after {
                content: '';
                display: block;
                width: 13%;
                height: 3px;
                background: $dark;
                margin-top: 5px;
              }
            }
            &:not(:first-of-type) {
              h2 {
                -webkit-transition: top .7s ease-in-out .7s;
                -o-transition: top .7s ease-in-out .7s;
                transition: top .7s ease-in-out .7s;
                font-size: 1em;
                position: absolute;
                top: -10%;
                left: 50%;
                margin-left: calc(-87.08px / 2);
                margin-top: calc(-25px / 2);
                white-space: nowrap;
                color: $white;
                z-index: 1;
                &::after {
                  content: '';
                  display: block;
                  width: 40%;
                  height: 3px;
                  margin-top: 5px;
                  background: $white;
                }
              }
              span {
                display: block;
                width: 100%;
                height: calc(100% - 3px);
                -webkit-transform: scale(0);
                    -ms-transform: scale(0);
                        transform: scale(0);
                background: rgba(61, 188, 153, .8);
                position: absolute;
                top: 0;
                left: 0;
                -webkit-transition: -webkit-transform .7s ease-in-out;
                transition: -webkit-transform .7s ease-in-out;
                -o-transition: transform .7s ease-in-out;
                transition: transform .7s ease-in-out;
                transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
                z-index: 0;
              }
              &:hover h2 {top: 50%;}
              &:hover span {-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
            }
          }
        }
      }
    }
    hr {
      margin: 50px auto;
      background: $grey;
      height: 1px;
      border: none;
    }
  }
}

.testimonials {
  background: $dark url('images/bgtest.png');
  background-size: cover;
  opacity: .5;
  padding: 30px 0;
  position: relative;
  .container {
    position: relative;
    z-index: 1;
    text-align: center;
    h2 {
      color: $white;
      position: relative;
      width: 25%;
      margin: 0 auto;
      margin-bottom: 100px;
      &::after {
        content: '';
        display: block;
        height: 3px;
        width: 23.5%;
        position: absolute;
        bottom: -5px;
        left: 10%;
        background: $white;
      }
    }
    .bxslider {
      li {
        q {
          color: #FFF;
          line-height: 1.5;
        }
        h3 {
          color: $green;
          margin-top: 40px;
        }
      }
    }
    .bx-controls-direction {
      display: none;
    }
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(45, 52, 54, .7);
  }
}

.projects {
  .container {
    padding: 20px 0;
    h2 {
      color: $dark;
      position: relative;
      &:after {
        content: '';
        display: block;
        background: $dark;
        width: 4%;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 0;
      }
    }
    ul {
      list-style-type: none;
      margin: 50px 0;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        margin-right: 5px;
        padding: 5px 25px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid $grey;
        color: $grey;
        font-size: 20px;
        &:hover, &.active {
          background: $green;
        }
      }
    }
    .All {
      margin-bottom: 50px;
      overflow: hidden;
      div {
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        width: 32%;
        margin-right: 2%;
        margin-bottom: 20px;
        height: 230px;
        position: relative;
        overflow: hidden;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        span {
          position: absolute;
          z-index: 5;
          color: $white;
          font-size: 18px;
          -webkit-transition: .4s linear .5s;
          -o-transition: .4s linear .5s;
          transition: .4s linear .5s;
          -webkit-transition-property: top, right;
          -o-transition-property: top, right;
          transition-property: top, right;
          &:last-of-type {
            bottom: 20px;
            right: -20%;
          }
          &:first-of-type {
            top: -20%;
            right: 50%;
            margin-right: calc(-125.44px / 2);
            margin-top: calc(-44px / 2);
            padding: 10px 20px;
            border: 2px solid $white;
            cursor: pointer;
            font-weight: bold;
            &:hover {
              background: $green;
            }
          }
        }
        &::before {
          content: '';
          z-index: 3;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(223, 230, 233, .3);
          width: 100%;
          height: 100%;
        }
        &::after {
          content: '';
          z-index: 3;
          position: absolute;
          top: 0;
          left: 0;
          -webkit-transform: scale(0);
              -ms-transform: scale(0);
                  transform: scale(0);
          background: rgba(61, 188, 153, .8);
          width: 100%;
          height: 100%;
          -webkit-transition: all .7s ease-in-out;
          -o-transition: all .7s ease-in-out;
          transition: all .7s ease-in-out;
        }
        &:hover::after {-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
        &:hover span:first-of-type {top: 50%;}
        &:hover span:last-of-type {right: 20px;}
        &:nth-of-type(3),
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .All.all {
      div {
        @for $i from 1 through 6 {
          &:nth-of-type(#{$i}) {
            background: url('images/projects/image00#{$i}.png');
          }
        }
      }
    }
    .All.mobile {
      div {
        @for $i from 1 through 6 {
          &:nth-of-type(#{$i}) {
            background: url('images/projects/mobile/image00#{$i}.png');
          }
        }
      }
    }
    .All.coffee {
      div {
        @for $i from 1 through 6 {
          &:nth-of-type(#{$i}) {
            background: url('images/projects/coffee/image00#{$i}.png');
          }
        }
      }
    }
    .All.video {
      div {
        @for $i from 1 through 6 {
          &:nth-of-type(#{$i}) {
            background: url('images/projects/video/image00#{$i}.png');
          }
        }
      }
    }
    .All.fashion {
      div {
        @for $i from 1 through 6 {
          &:nth-of-type(#{$i}) {
            background: url('images/projects/fashion/image00#{$i}.png');
          }
        }
      }
    }
  }
}

footer {
  background: $dark;
  padding: 50px 0;
  .container {
    .footer {
      overflow: hidden;
      > div {
        min-height: 300px;
        width: 24%;
        padding: 5px;
        float: left;
        margin-right: 1.33%;
        h3 {
          color: $white;
          letter-spacing: 0.2em;
        }
        p {
          color: $grey;
          font-size: 17px;
          margin: 30px auto;
          line-height: 1.7;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          overflow: hidden;
          li {
            float: left;
            width: 15%;
            display: block;
            color: $grey;
            cursor: pointer;
            -webkit-transition: color .5s ease-in-out;
            -o-transition: color .5s ease-in-out;
            transition: color .5s ease-in-out;
            &:first-of-type {
              &:hover {
                color: #3b5998;
              }
            }
            &:nth-of-type(2) {
              &:hover {
                color: #DB4437;
              }
            }
            &:last-of-type {
              &:hover {
                color: #0084b4;
              }
            }
          }
        }
        &:first-of-type {
          padding-left: 0;
        }
        &:last-of-type {
          padding-right: 0;
        }
        &:nth-of-type(2) {
          overflow: hidden;
          span {
            display: block;
            padding: 10px 20px;
            float: left;
            color: $grey;
            border: 1px solid $grey;
            margin-right: 5px;
            margin-top: 5px;
            cursor: pointer;
            &:hover {
              border: 1px solid $white;
              color: $white;
            }
          }
        }
        &:nth-of-type(3) {
          div {
            cursor: pointer;
            img {
              float: left;
              margin-right: 5px;
            }
            p {
              color: $white;
              margin: 5px auto;
              line-height: 1.5;
              font-size: 16px;
            }
            span {
              color: $green;
              display: block;
              padding: 0;
              float: none;
              border: none;
              margin: 0;
              cursor: default;
            }
            &:not(:last-of-type) {
              margin-bottom: 30px;
            }
          }
        }
        &:last-of-type {
          margin-right: 0;
          a {
            display: block;
            text-decoration: none;
            color: $grey;
            border-bottom: 1px solid $grey;
            padding: 12px 0;
            -webkit-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            &:hover {
              color: $white;
              border-bottom: 1px solid $white;
            }
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
    > p {
      color: $grey;
      letter-spacing: 0.1em;
      font-size: 20px;
      -webkit-transition: color .7s ease-in-out;
      -o-transition: color .7s ease-in-out;
      transition: color .7s ease-in-out;
      a {
        color: $grey;
        text-decoration: none;
        -webkit-transition: color .7s ease-in-out;
        -o-transition: color .7s ease-in-out;
        transition: color .7s ease-in-out;
      }
      &:hover {
        color: $white;
      }
      &:hover a {
        color: $green;
      }
    }
  }
}

















.clea-fix {
  clear: both;
}
.container {
  width: 70%;
  margin: auto;
}
